<header>

</header>

<body>
  <p>这是用ejs渲染的页面</p>
  <h1><%= title %></h1>
  <button id='btn'>按钮</button>

  <script>
    document.getElementById("btn").onclick = function() {
      alert('你好，ejs！')
    }
  </script>
</body>