extends layout 

block content
    link(rel="./stylesheet/vue.css", href="style.css")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js") 
    div(id='app')
    script(src="./javascripts/vue.js") 